TorrentItem {
    layout: vertical;
    background: $boost;
    margin: 1;
    min-width: 50;
    padding: 1;
}

TorrentItem.selected {
    background: green
}

StatusLine {
    layout: grid;
    grid-size: 6;
    grid-columns: auto 1fr auto auto auto auto;
    background: grey;
    height: 1;
}
