services:
  transmission:
    image: linuxserver/transmission:latest
    container_name: tewi-transmission-dev
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
      - USER=  # No authentication
      - PASS=  # No authentication
    ports:
      - "9070:9091"     # Web UI / RPC
      - "9080:51413"   # Peer connections
    restart: "no"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9091/transmission/web/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - downloads:/downloads

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: tewi-qbittorrent-dev
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
      - WEBUI_PORT=9071
    ports:
      - "9071:9071"     # Web UI (no authentication required)
      - "9081:6881"     # Peer connections (TCP)
      - "9081:6881/udp" # Peer connections (UDP)
    restart: "no"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9093/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - downloads:/downloads

  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: tewi-deluge-dev
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - DELUGE_LOGLEVEL=error #optional
    ports:
      - 9072:8112
      - 9082:6881
      - 9082:6881/udp
    restart: "no"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8112"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - downloads:/downloads

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: tewi-jackett-dev
    profiles:
      - search
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    ports:
      - 9075:9117
    restart: "no"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9117/UI/Dashboard"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: tewi-prowlarr-dev
    profiles:
      - search
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    ports:
      - 9076:9696
    restart: no
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9696/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  bitmagnet:
    image: ghcr.io/bitmagnet-io/bitmagnet:latest
    container_name: tewi-bitmagnet-dev
    profiles:
      - search
    environment:
      - POSTGRES_HOST=tewi-postgres-dev
      - POSTGRES_PASSWORD=postgres
    ports:
      # API and WebUI port:
      - "9077:3333"
      # BitTorrent ports:
      - "9087:3334/tcp"
      - "9087:3334/udp"
    restart: no
    command:
      - worker
      - run
      - --keys=http_server
      - --keys=queue_server
      # disable the next line to run without DHT crawler
      - --keys=dht_crawler
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3333/status"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    depends_on:
      tewi-postgres-dev:
        condition: service_healthy

  tewi-postgres-dev:
    image: postgres:16-alpine
    container_name: tewi-postgres-dev
    profiles:
      - search
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=bitmagnet
      - PGUSER=postgres
    restart: no
    shm_size: 1g
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  downloads:
  postgres:
